<h4>Lista de contactos</h4>
<p><%= link_to("Añadir contacto", {:controller => 'contact', :action => 'new'}, data: { turbolinks: false } , :class => "btn btn-success" ) %></p>
<i class="fab fa-facebook-f fa-3x mx-2"></i>

<table class="table table-hover" summary="Contact List">
  <tr class="header">
    <th>
      Nombre
    </th>      
    <th>
      Apellidos
    </th>
    <th>
      Calle
    </th>
    <th>
      Poblacion
    </th>    
    <th>
      Provincia
    </th>
    <th>
      Pais
    </th>
    
    <th>
      Acciones
    </th>
  </tr>
  <% @contact.each do |t| %>
  <tr>

    <td>
      <%= t.nombre %>
      </td>
    <td>
      <%= t.apellidos %>
    </td>    
     <td>
      <%= t.calle %>
    </td>     
    <td>
      <%= t.poblacion %>
    </td>      
     <td>
      <%= t.provincia %>
    </td>
     <td>
      <%= t.pais %>
    </td>

    <td>
      <%= link_to("Detalles", {:action => 'show', :id => t.id}, data: { turbolinks: false }, :class => "btn btn-primary") %>
      <%= link_to("Editar", {:action => 'edit', :id => t.id}, data: { turbolinks: false }, :class => "btn btn-success") %>          
    <!-- <%= link_to("Borrar", {:action => 'delete', :id => t.id}, data: {  confirm: 'Estas seguro ?',turbolinks: false }, :class => "btn btn-danger") %> -->                
       
	  <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger"  data-href="<%= url_for(:action => :delete, :id => t.id) %> " 
     data-toggle="modal" data-target="#exampleModal<%= t.id %>">
     Borrar
    </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Borrar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Estas seguro de querer eliminar esto?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
              <a href="<%= url_for(:action => :delete, :id => t.id) %> "><button type="button" class="btn btn-primary">SI</button></a>
            </div>
          </div>
        </div>
      </div>
        
       

    </td>
  </tr>
  <% end %>
</table>